@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./rosepine.css";
@import "./colors.css";

@custom-variant moon (&:where([data-theme="moon"] *));
@custom-variant dawn (&:where([data-theme="dawn"] *));

@layer base {
  body {
    background-color: var(--rosepine-bg);
    color: var(--rosepine-text);
    font-family: var(--font-dmsans);
  }
}

@theme {
  --breakpoint-xs: 300px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
