@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@fontsource/space-grotesk";
@import "@fontsource/inter";
@import "@fontsource/instrument-serif";

:root {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-dmsans);
  --bg: #0f1117;
  --fg: #161b27;
  --border: #1e2433;
  --tag: #1f232f;
  --accent: #4f8ef7;
  --text: #f0f4ff;
  --text-muted: #8892a4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-syne);
}

.font-syne {
  font-family: var(--font-syne);
  font-weight: bold;
}

.font-mono {
  font-family: var(--font-ibm);
}

@theme {
  --breakpoint-xs: 300px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
