---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<section
  class="xs:pb-10 mx-auto grid max-w-6xl grid-cols-1 gap-4 space-y-10 md:grid-cols-4 md:pb-0"
>
  <ThemeSwitcher />
  <div class="border-border border md:col-span-2 lg:col-span-3">
    GH component...
  </div>
</section>
