---
import { Star, ArrowRight } from "@lucide/astro";
import Agentflux from "../projects/Agentflux.astro";
import Sermoui from "../projects/Sermoui.astro";
---

<section class="mx-auto mb-8 max-h-screen w-[75vw] space-y-10">
  <div class="flex items-center justify-between">
    <h2 class="flex items-center gap-2 text-4xl font-bold">
      <Star size={30} class="text-(--accent)" />
      Featured Projects
    </h2>
    <a
      class="group flex cursor-pointer items-center gap-2 text-sm text-(--accent) underline decoration-dashed underline-offset-4"
    >
      VIEW ALL
      <ArrowRight size={18} class="duration-300 group-hover:translate-x-1" />
    </a>
  </div>

  <div class="flex h-full w-full items-center gap-4">
    <Agentflux />
    <Sermoui />
  </div>
</section>
