---
import { Github, Mail } from "@lucide/astro";
---

<footer class="m-auto mb-5">
  <div
    class="bg-fg border-border/60 mx-auto flex h-15 max-w-6xl items-center justify-between rounded-lg border px-4"
  >
    <span>&copy; 2026 Slade</span>
    <div class="flex items-center gap-2">
      <a
        class="hover:text-accent cursor-pointer"
        href="https://github.com/thecentinol"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Github />
      </a>
      <a
        class="hover:text-accent cursor-pointer"
        href="mailto:centinol@proton.me"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Mail />
      </a>
    </div>
  </div>
</footer>
