---
import { Github, Mail } from "@lucide/astro";
---

<footer class="px-6">
  <div
    class="mx-auto mb-6 flex h-15 max-w-6xl items-center justify-between rounded-lg bg-(--fg) px-4"
  >
    <span>&copy; 2026 Slade</span>
    <div class="flex items-center gap-2">
      <a
        class="cursor-pointer hover:text-(--accent)"
        href="https://github.com/thecentinol"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Github />
      </a>
      <a
        class="cursor-pointer hover:text-(--accent)"
        href="mailto:centinol@proton.me"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Mail />
      </a>
    </div>
  </div>
</footer>
