---
import { Github, Mail } from "@lucide/astro";
---

<footer
  class="mx-auto mt-30 mb-6 flex h-15 w-[75vw] items-center justify-between rounded-lg bg-(--fg) px-4"
>
  <span>&copy; 2026 Slade</span>
  <div class="flex items-center gap-2">
    <Github class="cursor-pointer hover:text-(--accent)" />
    <Mail class="cursor-pointer hover:text-(--accent)" />
  </div>
</footer>
