---
import { getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export const prerender = false;

const { id } = Astro.params;
const project = await getEntry("projects", id);
if (!project) return Astro.redirect("/404");
const { title, desc, tags, github, live } = project.data;
const { Content } = await render(project);
---

<Layout>
  <div class="mx-auto min-h-screen w-[75vw] pt-20">
    <h1>{title}</h1>
    <p>{desc}</p>

    <div class="prose prose-invert prose-a:text-(--accent) max-w-2xl">
      <Content />
    </div>
  </div>
</Layout>
