---
import Layout from "../../layouts/Layout.astro";
import { Folders, Tag } from "@lucide/astro";
import { getCollection, type CollectionEntry } from "astro:content";

const projects = await getCollection("projects");

const tagColors = [
  "text-[#8839ef]",
  "text-[#ef9f76]",
  "text-[#40a02b]",
  "text-[#179299]",
  "text-[#1e66f5]",
  "text-[#dc8a78]",
  "text-[#d20f39]",
];
---

<Layout>
  <div class="mx-auto w-[75vw] space-y-8">
    <h1 class="flex items-center gap-4 text-6xl font-bold">
      <Folders size={40} class="text-(--accent)" />
      Projects
    </h1>

    <div class="grid grid-cols-3 gap-4">
      {
        projects.map((p) => (
          <div class="group h-95 w-full cursor-pointer rounded-xl border border-(--border) bg-(--fg) p-5 duration-400 hover:border-(--accent)">
            <div class="mb-2 aspect-video h-[50%] w-full rounded-xl bg-[#a9b4c0] p-10">
              <slot name="image" />
            </div>

            <div class="flex h-[50%] flex-col items-start justify-between">
              <h3 class="text-2xl font-bold duration-300 group-hover:text-(--accent)">
                {p.data.title}
              </h3>
              <p class="font-inter text-sm text-(--text-muted)">
                {p.data.desc}
              </p>
              <div class="flex flex-nowrap items-center gap-2">
                <Tag size={18} class="shrink-0" />
                {p.data.displayedTags.map((tag, i) => (
                  <span
                    class={`shrink-0 bg-(--tag) px-2 py-2 font-mono text-xs font-bold ${tagColors[i % tagColors.length]}`}
                  >
                    {tag}
                  </span>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
