---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Slade.dev</title>
    <Font cssVariable="--font-syne" />
    <Font cssVariable="--font-dmsans" />
    <Font cssVariable="--font-ibm" />
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
